In [14]:
#Basic Of Loop
subjects = ["ai","ml","ip","dc"]
for x in subjects:
    print(x)

ai
ml
ip
dc

In [15]:
data ="i love python"
for i in data:
    print(i)

i

l
o
v
e

p
y
t
h
o
n

In [16]:
len (data)

13

In [17]:
#found same output with range function
for x in range(len(data)):
    print(data[x])

i

l
o
v
e

p
y
t
h
o
n

In [18]:
data ="i love python"
data = data.split()
for x in range(len(data)):
    print(data[x],x)

i 0
love 1
python 2

In [19]:
n = [4,23,43,24,214,553]
total = 0
for i in n:
    total = total + i
    print(total)
print("Total:",total)

4
27
70
94
308
861
Total: 861

In [20]:
#n = [4,23,43,24,214,553]
for v in range(10):
    print('python',v)

python 0
python 1
python 2
python 3
python 4
python 5
python 6
python 7
python 8
python 9

In [21]:
for v in range(10):
    print('python',v)

python 0
python 1
python 2
python 3
python 4
python 5
python 6
python 7
python 8
python 9

In [22]:
for v in range(5,10):
    print('python',v)

python 5
python 6
python 7
python 8
python 9

In [23]:
for v in range(5,10,2):
    print('python',v)

python 5
python 7
python 9

In [24]:
for v in range(10,0,-1):
    print('python',v)

python 10
python 9
python 8
python 7
python 6
python 5
python 4
python 3
python 2
python 1

In [25]:
for v in range(100,50,-10):
    print('python',v)

python 100
python 90
python 80
python 70
python 60

**Loop Practice Questions**

In [26]:
#Exercise 1: Display numbers from -100 to -10 using for loop.
for v in range(-100,-9):
    print(v)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [27]:
#Find prime number
num = int(input('enter any number'))
for i in range(2,num):
    if num%i==0:
        print('its not prime number')
        break
else:
    print('its prime number')

its prime number

In [29]:
#Find prime number from 1 to 100
num = int(input('enter any number'))
for i in range(1,num):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,'its prime number')

1 its prime number
2 its prime number
3 its prime number

In [9]:
#Exercise 2: Write a program to sum all prime numbers within a range 10 to 1000.
sum=0
for i in range(10,1000):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        sum=sum+i
print('The sum of prime numbers is:',sum)

The sum of prime numbers is: 76110

In [31]:
#Exercise 3: Find the factorial of a n!. (hint, n=7: 7*6*5*4*3*2*1)
total=1
n=int(input('enter number'))
for i in range(1,n+1):
    total=total*i
print(total)

5040

In [40]:
#Exercise 4: Reverse a given integer number 27956240710
n=input('enter integer number ')
for v in reversed(n):
    print(v ,end='')

01704265972

In [47]:
count=0
while(count<5):
    count=count+1
    print("python",end=" ")

python python python python python